body {
	background-color: #eeeeee;
}
header {
	border: 2px solid black;
	height: 200px;
}
	header img {
		float: right;
		display: block;
		margin-top: -50px;
		border-radius: 50px;
	}
	header h1 {
		margin-left: 10px;
		text-shadow: 2px 2px 2px blue;
	}
	header nav ul li {
		display: inline;
		list-style-type: none;
		float: left;
		margin-right: 10px;
	}
a {
	text-decoration: none;
	color: black;
	text-shadow: 2px 2px 2px yellow;
}
a:hover {
	text-decoration: none;
	color: blue;
	text-shadow: 2px 2px 2px hotpink;
}
#kundvagn {
	width: 100px;
}
#sokfunktion {
	width: 100px;
}
#loggain {
	width: 100px;
}
.bokningdiv {
	float: right;
	width: 300px;
}
.popresor {
	float: right;
	margin-top: -0px;
	margin-right: 100px;
	width: 40%;
}
.bilderdiv {
	float: left;
	width: 300px;
}
#strand {
	clear: both;
	margin-top: 0px;
}
#flyg {
	display: block;
	float: right;
	margin-right: 200px;
	margin-top: 15px;
}
footer {
	border-top: 1px solid black;
	clear: both;
}
	footer div {
		width: 300px;
		float: left;
	}
/* header{
	margin:0;
	padding:5px 5px 5px 20px;
	background-color: white;
}
nav{
	margin:0;
	padding:5px 5px 5px 0px;
	border:	4px solid #d08def;
	border-radius: 10px;
}
#kundvagn{
	width:100px;
	float: right;
}
#loggain{
	width: 150px;
	float: right;
}
#sökfunktion{
	width: 100px;
	float: right;
}
nav ul{
	margin:0;
	padding:0;
}
.bokningdiv{
	width: 100px;
	margin-left: 100px;
	padding-left: 100px;
	text-align: center;
}

.sökfunktioner {
	float: right;
}
nav a {
	text-decoration:none;
	color:red;
}
ul li{
	display: inline;
	margin: 6px;
}
main,section{
	margin:0;
	padding:0;
}
.bilder img {
	float: right;
	width: 150px;
}
article{
	margin:20px 0 0 0;
	padding:5px 0 5 20px;
	background-color;#FFFFFF;
}
aside{
	width:100px;
	margin:20px 0 5px 0;
	padding:10px;
	background-color:#FFFFFF;
	border: 1px solid Silver; #C0C0C0
}
.bokningdiv {
	width: 300px;
}
#resorfig {
	float: right;
	display: block;
	width: 300px;
}
body	{
	font-family:arial;
}
div{
	border: 50px solid grey;
	float:left
}	
ul li {
	display: inline;
	margin-right: 5px;
	float: left;
	margin-top: 5px;
}

h1{
	text-shadow:blue;
	
	}
h1:hoover{
	color:blue;
}
.divheader {
	height: 200px;
	float: left;
	

}
.breadcrumb {
	height: 200px;
	
}
.bildslides {
	border: 30px solid black;
	height: 400px;
	width: 500px;
	float: left;
}
.fritidsresor {
	display: block;
	width:	500px;
	float:	left;
}
.resor {
	float: left;
}
fieldset{
	width:150;
	float:left;
}
footer div {
	width: 200px;
	float: left;
} */