fieldset {
	width: 	300px;
	height:	350px;
	float:	left;
}
img {
	width: 150px;
	
}
p {
	font-size: 10pt;
}
	background-color: green;
		color:	Greenyellow;
}
body
{
		background-color;	Green;
		color:greenyellow;
		background-color;mediumorange;
		
}
#iphone {
		height: 150px;
		width: auto;
}
#fisketinor	{
		height:	150px;
		width:	auto;
}
#Tennisracket	{
		height:	150px;
		width:	auto;
}
#skjorta	{
		height:	150px;
		width: 	auto;
]}
#klocka		{
		height:	150px;
		width:	auto;
}
#ipad		{
		height:	150px;
		width:	auto;
}
input 
		margin-top: 35px;
		margin-bottom: auto;
		
}
#kundkorg {
		border: 2px solid red;
}
#fisketinorkorg {
		
}
#skortakorg		{

}
#klockakorg		{
	
}
#tennisracketkorg {
	
}
#ipadkorg		{
	
}
#iphonekorg
	


	


	